@background: #016003;
@fontColour: #ffffff;

body {
  color: @fontColour;
  background-color: @background;

  @font-face {
    font-family: 'bree';
    src: url('../assets/fonts/bree-seriff/breeserif-regular-webfont.eot');
    src: url('../assets/fonts/bree-seriff/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/bree-seriff/breeserif-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/bree-seriff/breeserif-regular-webfont.woff') format('woff'),
    url('../assets/fonts/bree-seriff/breeserif-regular-webfont.ttf') format('truetype'),
    url('../assets/fonts/bree-seriff/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

}

canvas {
  margin: 0 auto;
}

.header {
  text-align: center;
  font-family: bree;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid @fontColour;
}